* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: #000000;
    height: 100vh;
}

.to-virtual {
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.nav-vir {
    width: 50px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.to-virtual div p {
    color: white;
    font-size: 16px;
}

.square {
    flex-grow: 4;
    height: 100%;
    position: relative;
    top: 50%;
    /*left: 50%;*/
    /*margin-left: -50%;*/
    /*margin-top: -50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.square span:nth-of-type(1) {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square span:nth-of-type(2) {
    position: absolute;
    width: 420px;
    height: 420px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    transition: 0.5s;
    animation: animate2 4s linear infinite;
}

.square span:nth-of-type(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
        /*transform: scale(1);*/
    }
    100% {
        transform: rotate(0deg);
    }
}

.text-title {
    color: #fff;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.content {
    position: relative;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.textregion {
    position: absolute;
    width: 350px;
    height: 350px;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.introduction {
    /*padding: 40px 60px;*/
    color: #5E5E6A;
    font-size: 12px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 2em;
}

.to-style {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.nav-sty {
    width: 50px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.to-style div p {
    color: white;
    font-size: 16px;
}


/*a{*/


/*    opacity: 30%;*/


/*}*/


/*a:hover{*/


/*    opacity: 1;*/


/*    font-size: 1.5em;*/


/*}*/